/* =======COLORS====== */
:root {
  /* PRIMARY */
  --lightred: hsl(0, 100%, 67%);
  --orangeyellow: hsl(39, 100%, 56%);
  --teal: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  /* GRADIENTS */
  /* Background */
  --slateblue: hsl(252, 100%, 67%);
  --royalblue: hsl(241, 81%, 54%);
  /* Circle */
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --greyblue: hsl(224, 30%, 27%);
}

/* =======GENERAL====== */
html {
  background-color: var(--white);
}

body {
  /* Font Weight
  500, 700, 800 */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.1rem;
  color: var(--lavender);
}

.attribution {
}

/* =======STYLES====== */
.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  margin: 0 auto;
  /* padding: 1.5rem; */
  min-height: 100vh;
}

.score__container {
  background: linear-gradient(var(--slateblue), var(--royalblue));
  padding: 1.2rem;
}

.score__header {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.score__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6rem;
  border-radius: 100%;
  background: linear-gradient(var(--violetblue), var(--persianblue));
}

.score__final {
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 800;
}

.score__of {
  margin-bottom: 1rem;
}

/* =======MEDIA QUERY====== */
