/* =======COLORS====== */
:root {
  /* PRIMARY */
  --lightred: hsl(0, 100%, 67%);
  --orangeyellow: hsl(39, 100%, 56%);
  --teal: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  /* GRADIENTS */
  /* Background */
  --slateblue: hsl(252, 100%, 67%);
  --royalblue: hsl(241, 81%, 54%);
  /* Circle */
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --greyblue: hsl(224, 30%, 27%);
}

/* =======GENERAL====== */
html {
  background-color: var(--paleblue);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  /* Font Weight
  500, 700, 800 */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1rem;
  color: var(--lavender);
}

/* =======STYLES====== */
/* SCORE */
.container {
  max-width: 55rem;
  background-color: var(--white);
}

.score__container {
  background: linear-gradient(var(--slateblue), var(--royalblue));
  padding: 1.2rem 0 2.2rem 0;
  border-radius: 0 0 2.2rem 2.2rem;
  align-items: center;
  text-align: center;
}

.score__header {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.score__circle {
  height: 9rem;
  width: 9rem;
  background: linear-gradient(var(--violetblue), var(--persianblue));
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.score__final {
  color: var(--white);
  font-size: 3.4rem;
  font-weight: 800;
  margin-bottom: 1.2rem;

  transform: translate(0, 30%);
}

.score__of {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 50%;
}

.score__tier {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: var(--white);
  font-weight: 700;
}

.score__summary {
  max-width: 275px;
  margin: auto;
  opacity: 95%;
}

/* SUMMARY */

.summary__container {
  padding: 0 2rem 0;
}

.summary__header {
  font-size: 1.1rem;
  color: var(--greyblue);
  font-weight: 700;
  margin-bottom: 1.4rem;
  margin-top: 1.2rem;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 16px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
}

.left__side {
  display: flex;
  gap: 10px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.07);
  color: hsla(0, 100%, 67%, 0.9);
}

.memory {
  background-color: hsl(39, 100%, 56%, 0.07);
  color: hsl(39, 100%, 56%, 0.8);
}

.verbal {
  background-color: hsl(166, 100%, 37%, 0.07);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.07);
  color: hsl(234, 85%, 45%);
}

.points {
  font-weight: 800;
  color: var(--greyblue);
}

.points__of {
  text-align: right;
  color: var(--greyblue);
  opacity: 40%;
}

/* CONTINUE BUTTON */

.continue__btn {
  display: flex;
  justify-content: center;
  cursor: pointer;

  color: var(--white);
  background: var(--greyblue);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1.8rem auto;
}

.continue__btn:hover,
.continue__btn:active {
  background: linear-gradient(var(--slateblue), var(--royalblue));
}

.attribution,
a {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.8rem;
  color: var(--teal);
}

/* =======MEDIA QUERY====== */
@media (min-width: 54em) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    place-content: center;
    margin: auto;

    max-width: 45rem;
    border-radius: 2.2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .score__header {
    font-size: 1.4rem;
    margin-top: 1.2rem;
    margin-bottom: 2.2rem;
  }

  .score__circle {
    height: 13rem;
    width: 13rem;
  }

  .score__container {
    place-content: center;
    border-radius: 2.2rem;
    font-size: 1.1rem;
  }

  .score__final {
    font-size: 4.6rem;
  }

  .score__of {
    font-weight: 600;
    font-size: 1rem;
  }
  .score__tier {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .score__summary {
    max-width: 15rem;
  }
  .summary__container {
    padding: 1.2rem;
  }

  .summary__header {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .category {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
