/* =======COLORS====== */
:root {
  /* PRIMARY */
  --lightred: hsl(0, 100%, 67%);
  --orangeyellow: hsl(39, 100%, 56%);
  --teal: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  /* GRADIENTS */
  /* Background */
  --slateblue: hsl(252, 100%, 67%);
  --royalblue: hsl(241, 81%, 54%);
  /* Circle */
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --greyblue: hsl(224, 30%, 27%);
}

/* =======GENERAL====== */
html {
  background-color: var(--white);
}

body {
  /* Font Weight
  500, 700, 800 */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.1rem;
  color: var(--lavender);
}

.attribution {
}

/* =======STYLES====== */
.container {
  display: flex;
  flex-direction: column;

  max-width: 675px;
  margin: 0 auto;
  min-height: 100vh;
}

/* SCORE */
.score__container {
  background: linear-gradient(var(--slateblue), var(--royalblue));
  padding: 1.2rem;
  border-radius: 0 0 2.2rem 2.2rem;
  align-items: center;
  text-align: center;

  margin-bottom: 1.2rem;
}

.score__header {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.score__circle {
  height: 9rem;
  width: 9rem;
  background: linear-gradient(var(--violetblue), var(--persianblue));
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.score__final {
  color: var(--white);
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;

  transform: translate(0, 30%);
}

.score__of {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 50%;
}

.score__tier {
  font-size: 1.4rem;
  color: var(--white);
  font-weight: 700;
}

.score__summary {
  max-width: 320px;
  margin-bottom: 1.2rem;
  /* padding: auto; */
  margin: auto;
  margin-bottom: 1.5rem;
  opacity: 90%;
}

/* SUMMARY */
.summary__container {
  padding: 0 2rem 0;
}

.summary__header {
  color: var(--greyblue);
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 16px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.07);
  color: hsla(0, 100%, 67%, 0.9);
}

.memory {
  background-color: hsl(39, 100%, 56%, 0.07);
  color: hsl(39, 100%, 56%, 0.8);
}

.verbal {
  background-color: hsl(166, 100%, 37%, 0.07);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.07);
  color: hsl(234, 85%, 45%);
}

.points {
  font-weight: 800;
  color: var(--greyblue);
}

/* =======MEDIA QUERY====== */
